form{
    display : flex;
    flex-direction : column;
    justify-content: space-evenly;
    height: 270px !important;
    box-shadow: 100px 100px 100px 10px solid gray !important;
}
form input{
    border-radius: 5px;
    width: 200px;
    height: 25px;
}
form button{
    border-radius: 5px;
    height: 30px;
}

.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:700px;
}